
.pos-rel{ position:relative;}
/*body {  min-width:600px; }*/

/*
body{
   min-width:1000px; // Suppose you want minimum width of 1000px
   _width: expression( document.body.clientWidth > 1000 ? "1000px" : "auto" );  sets max-width for IE6 
}
*/
body {
    overflow-x:hidden
}

#myVideo {
    left: 0;
/*    right: 0;*/
    top: -10;
/*    bottom: 0;*/
    min-width: 100%; 
    min-height: 100%;
    max-height: 768px;
    opacity: .8;
}
