@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.pos-rel{ position:relative;}

.container {
    padding-right: 200px;
}

* {
 font-size: 100%;
 font-family: Lato;
}

body {
    overflow-x:hidden;
    font-family: Montserrat;
        
}

#myVideo {
    left: 0;
    top: -10;
    min-width: 100%; 
    min-height: 100%;
    max-height: 768px;
    opacity: .8;
}

h1, #myIntro, b {
    font-size: 40px;
}

h1, #myIntro, p {
    font-size: 16px;
}

b {
    font-weight: bold;
    text-shadow: white 5px 5px 20px;
}
#hyperlink {
    color: #5990ea
}

#myIntro {
/*  width: 50px;*/
/*  height: 50px;*/
  position: absolute;
animation-name: intro;
animation-duration: 2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

@keyframes intro {
    0%   {background-color: #DEE2E2; left:0px; top:0px; right:20px}
    100% {background-color: #DEE2E2; left:20px; top:0px; right:0px}
}

#line {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2%;
  height: 0.5%;
/*    background: linear-gradient(white, #639fff);*/
    background-color: black;
    
    /*  background: linear-gradient(white, azure);*/
}