@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: "Futura";
    src: url("Fonts/FuturaLT.woff") format('woff');
}

@font-face {
    font-family: "Futura";
    src: url("Fonts/FuturaLT-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Futura";
    src: url("Fonts/FuturaLT-Oblique.woff") format('woff');
    font-style: oblique;
}

.pos-rel{ 
    position: relative;
}

html,body
{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Futura', 'Roboto', sans-serif;
}

* {
    font-size: 100%;
    font-family: 'Futura', 'Roboto', sans-serif;
}

/* Loading Screen */
.no-js #loader { 
    display: none;  
}

.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(Preloader_2.gif) center no-repeat #fff;
    overflow: hidden;
}

h1 {
    font-weight: bold !important;
    font-size: 30px ;
    text-align: center;
}

h6 {
    font-size: 20px !important;
    font-style: oblique;
    line-height: 25px !important;
    text-align: center;
}

p {
    font-size: 20px !important;
    text-align: center;
}

b {
    font-weight: bold;
}

.hyperlink:link {
    color: #009ace !important;
    font-style: oblique;
    text-decoration: none;
}

.hyperlink:visited {
    color: #009ace !important;
    font-style: oblique;
    text-decoration: none;
}

.hyperlink:hover {
    text-decoration: none;
    color:#63d8ff !important;
    border-color: #63d8ff !important;
}

#outerHeader {
    height: 100vh;
    position: static;
}

.innerContainer {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.jobContainer {
    align-items: center;
    text-align: left;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.jobTitle {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.jobBlurb {
    padding: 0px 3vw;
    font-style: oblique;
    font-size: 20px;
    padding-bottom: 3vh;
    text-align: center;
}

.seeMore {
    font-size: 30px;
    color: #009ace;
    background-color: black;
    padding: 5px 15px;
    border-radius: 10px;
}
    
#opentextContainer .jobTitle {
    margin-top: 40px;
}

#tulipContainer .jobTitle {
    margin-top: 40px;
}

#pivotalContainer {
    background-color: #CFF9FE;
}

#tulipContainer {
    background-color: #ADF6FC;
}

#opentextContainer {
    background-color: #6DEFF7;
}

#accedoContainer{
    background-color: #39E7EF;
}

#project1 {
    background-color: #F2FEFF;
}



#accedoContainer,  #opentextContainer, #tulipContainer, #pivotalContainer {
    padding: 5vh 10vw;
    text-align: center;
}

.projectIcon  {
    width: 100%;
    max-width: 1000px;
}

.jobIcon {
    width: 50%;
    max-width: 250px;
}

#sectionHeaders {
    background-color: #ffecbe;
    padding: 1vh 5vw;
}

#project1 {
    padding: 5vh 10vw;
    line-height: 20px;
}

@media (max-width: 768px) {
    #accedoIcon, #opentextIcon {
        margin: 5vh 0;
    }
    
    .jobBlurb {
        padding-bottom: 1vh;
        text-align: left;
    }
    
    .jobTitle {
        text-align: left;
    }

    #tulipContainer .jobTitle {
    margin-top: 0px;
    }
 
    #opentextContainer .jobTitle {
    margin-top: 0px;
    }
}

#aboutContainer{
    padding: 5vh 10vw;
    background-color: #e8e8e8; 
}

#aboutPic{
    max-width: 300px;
}

#aboutPic, #aboutBlurb {
    padding: 20px;
}

#hello {
    position: relative;
    animation: fadeIn 5s 1, rightSlide 2s 1;
    padding: 5% 10% 2% 10%;
    text-align: center;
    max-width: 900px;
    margin: 0 auto !important;
    float: none !important;
}

img {
    font-size: 30px;
}

#name {
    position: relative;
    font-weight: bold;
    font-size: 60px; 
    line-height: 65px;
    text-align: center;
    vertical-align: bottom;
    animation: fadeIn 2s 1, rightSlide 2s 1;
    animation-delay: 1s;
    padding: 0 10% 2% 10%;
    animation-fill-mode: both;
}

#introBlurb {
    animation: fadeIn 2s 1;
    animation-delay: 2s;
    animation-fill-mode: both;
    padding: 0% 10% 2% 10%;
    max-width: 1000px;
    margin: 0 auto !important;
    float: none !important;
    text-align: center;
    font-size: 25px;
    line-height: 27px;
}

#resume {
    font-size: 25px !important;
    font-style: normal !important;
    padding: 5px 10px !important;
    border-color: #009ace;
    border-width:medium;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 0 auto !important;
    float: none !important;
    width: 240px !important;
    color: #009ace;
}

#credit {
    font-size: 15px;
    text-align: center;
    padding: 20px 10px;
    color: white;
    background-color: black;
}

#icons, #iconsAbout {
    font-size: 40px;
    text-align: center;
    padding: 3vw;
}

#iconsAbout {
    text-align: baseline;
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
    vertical-align: bottom;
}

#iconsLink {
    margin: 2vw;
}

@keyframes rightSlide {
    0%   {left:-20px; top:0px; right:0px}
    100% {left:0px; top:0px; right:0px}
}

@keyframes fadeIn {
    0%  {opacity:0;}
    100%{opacity:1;}
}

#pivotalLine {
    height: 20px;
    background-color: #00b3ef;
}

#tulipLine {
    height: 20px;
    background-color: #26c9ff;
}

#opentextLine {
    height: 20px;
    background-color: #65d9ff;
}

#accedoLine {
    height: 20px;
    background-color: #b8edff;
}

#heihei {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

#followups {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

.close {
    margin-right: 4px;
}

.modal-body {
    font-size: 16px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: right !important;
        padding-right: 10px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

